<!DOCTYPE html>
<html>
  <head>
    <title>Rap Studio</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
    <script src="js/main.js"></script>
  </head>
  <body>
    <h1>Rap Studio</h1>

    <form method="post">
      <label>Enter your lyric...</label>
      <input type="text" name="input_lyric" value="{{input_lyric}}">
      <input type="submit">
    </form>

    {% if output_lyrics %}
    <h2>Suggested Lyrics</h2>
    {% endif %}

    {% for lyric in output_lyrics %}
    <p>{{lyric}}</p>
    {% endfor %}
  </body>
</html>